# Backend
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/helena_semantic_studio?schema=public"
PORT=3333
NODE_ENV=development
CORS_ORIGIN="http://localhost:3000,http://192.168.0.44:3000"
DISABLE_DATABASE=true

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3333"
